[submodule "dmenu/.config/dmenu"]
	path = dmenu/.config/dmenu
	url = https://github.com/cezaris13/dmenu
[submodule "dwmblocks/.config/dwmblocks"]
	path = dwmblocks/.config/dwmblocks
	url = https://github.com/cezaris13/dwmblocks
[submodule "doom/.config/emacs"]
	path = doom/.config/emacs
	url = https://github.com/cezaris13/emacs
[submodule "doom/.config/doom"]
	path = doom/.config/doom
	url = https://github.com/cezaris13/doom
[submodule "i3/.config/i3"]
	path = i3/.config/i3
	url = https://github.com/cezaris13/i3
[submodule "dwm/.config/dwm"]
	path = dwm/.config/dwm
	url = https://github.com/cezaris13/dwm
